@model IEnumerable<>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => item.title)
        </th>
    </tr>
</table>
