
@{
    ViewBag.Title = "Shopping";
    Layout = "~/Views/Home/xiaomi1.cshtml";
}
<!DOCTYPE html>
66666666
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <link href="~/Content/css/shopping.css" rel="stylesheet" />
</head>
<body>
   
    <div class="centre" style="top:20px;">
        <div class="logo"><img src="~/Content/images/logo-footer.png" alt=""></div>
        <div class="nav">
            <ul>
                <li class="blank-li"></li>
                <li><a href="#">小米手机</a></li>
                <li><a href="#">红米</a></li>
                <li><a href="#">电视</a></li>
                <li><a href="#">笔记本</a></li>
                <li><a href="#">空调</a></li>
                <li><a href="#">新品</a></li>
                <li><a href="#">路由器</a></li>
                <li><a href="#">智能硬件</a></li>
                <li><a href="#">服务</a></li>
                <li><a href="#">社区</a></li>
                <li></li>
            </ul>
        </div>
        <div class="search">

            <form action="#" method="get">
                <label for="search"> </label>
                <input type="search" class="search-box" id="search" name="search" value="">
                <a href="#" class="search-link">小米8</a>
                <a href="#" class="search-link">小米MIX2s</a>
                <input type="submit" class="search-submit" value="搜索">
            </form>
        </div>

    </div>
    <div class="mi_shopping">
        <div class="j02 main clearfix">
            <!-- 把这段代码重复copy 6次 start -->
            <div class="product">
                <a href="/shops/618_product_4578" target="_blank" class="iwrap">
                    <img src="http://www.csdn.net/css/logo.png">
                    <p class="f16 line1">商品1</p>
                    <p class="f12 line2 red">引进了国际散热器先进技术及科研生产装备，具备年产散热器50万</p>
                    <dl class="line3">
                        <dd class="c2 red"><span class="rmb">￥888</span></dd>
                        <dd class="c3 f16"><i class="triangle"></i>马上预订</dd>
                    </dl>
                </a>
            </div>
            <!-- 把这段代码重复copy 6次  end-->
        </div>
        <div class="j02 main clearfix">
            <!-- 把这段代码重复copy 6次 start -->
            <div class="product">
                <a href="/shops/618_product_4578" target="_blank" class="iwrap">
                    <img src="http://www.csdn.net/css/logo.png">
                    <p class="f16 line1">商品1</p>
                    <p class="f12 line2 red">引进了国际散热器先进技术及科研生产装备，具备年产散热器50万</p>
                    <dl class="line3">
                        <dd class="c2 red"><span class="rmb">￥888</span></dd>
                        <dd class="c3 f16"><i class="triangle"></i>马上预订</dd>
                    </dl>
                </a>
            </div>
            <!-- 把这段代码重复copy 6次  end-->
        </div>
        <div class="j02 main clearfix">
            <!-- 把这段代码重复copy 6次 start -->
            <div class="product">
                <a href="/shops/618_product_4578" target="_blank" class="iwrap">
                    <img src="http://www.csdn.net/css/logo.png">
                    <p class="f16 line1">商品1</p>
                    <p class="f12 line2 red">引进了国际散热器先进技术及科研生产装备，具备年产散热器50万</p>
                    <dl class="line3">
                        <dd class="c2 red"><span class="rmb">￥888</span></dd>
                        <dd class="c3 f16"><i class="triangle"></i>马上预订</dd>
                    </dl>
                </a>
            </div>
            <!-- 把这段代码重复copy 6次  end-->
        </div>
        <div class="j02 main clearfix">
            <!-- 把这段代码重复copy 6次 start -->
            <div class="product">
                <a href="/shops/618_product_4578" target="_blank" class="iwrap">
                    <img src="http://www.csdn.net/css/logo.png">
                    <p class="f16 line1">商品1</p>
                    <p class="f12 line2 red">引进了国际散热器先进技术及科研生产装备，具备年产散热器50万</p>
                    <dl class="line3">
                        <dd class="c2 red"><span class="rmb">￥888</span></dd>
                        <dd class="c3 f16"><i class="triangle"></i>马上预订</dd>
                    </dl>
                </a>
            </div>
            <!-- 把这段代码重复copy 6次  end-->
        </div>
    </div>


</body>
</html>
