<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/css/top-bar.css">
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/nav.css">
    <link rel="stylesheet" href="~/Content/css/choose.css">
    <link rel="stylesheet" href="~/Content/css/advertising.css">
    <link rel="stylesheet" href="~/Content/css/seckill.css">
    <link rel="stylesheet" href="~/Content/css/commodity.css">
    <link rel="stylesheet" href="~/Content/css/afterbody.css">
    <link rel="icon" href="~/Content/images/logo-footer.png">
    <style>
        .top{
            top:0;
            position:absolute;
        }
        .firm{
            
        }
    </style>
</head>
<body>
    @RenderBody();

    <div class="top">
        <div class="centre">
            <div class="top-nav">
                <div class="top-navigation">
                    <a href="#">小米商城</a>
                    <span class="spn">|</span>
                    <a href="#">MIUI</a>
                    <span class="spn">|</span>
                    <a href="#">ioT</a>
                    <span class="spn">|</span>
                    <a href="#">云服务</a>
                    <span class="spn">|</span>
                    <a href="#">金融</a>
                    <span class="spn">|</span>
                    <a href="#">有品</a>
                    <span class="spn">|</span>
                    <a href="#">小爱开放平台</a>
                    <span class="spn">|</span>
                    <a href="#">企政服务</a>
                    <span class="spn">|</span>
                    <a href="#">下载app</a>
                    <span class="spn">|</span>
                    <a href="#">Select Region</a>

                </div>
                <div class="top-shop">
                    <a href="#">购物车</a>
                </div>
                <div class="laned">
                    <span id="logintxt">
                        <a href="/Home/user_login" id="loginin">登陆</a>
                        <span class="spn">|</span>
                        <a href="/Home/user_register">注册</a>
                        <span class="spn">|</span>
                    </span>
                    <span id="esclogin">退出登录</span>
                    <a href="#">消息通知</a>


                </div>



            </div>

        </div>
    </div>
    <div class="firm">
        <div class="centre">
            <div><img src="~/Content/images/logo-footer.png" alt="" style="margin-right: 12px;float: left"></div>
            <p class="below-1">
                <a href="#">小米商城</a>
                <span class="spn-new">|</span>
                <a href="#">MIUI</a>
                <span class="spn-new">|</span>
                <a href="#">米家</a>
                <span class="spn-new">|</span>
                <a href="#">米聊</a>
                <span class="spn-new">|</span>
                <a href="#">多看</a>
                <span class="spn-new">|</span>
                <a href="#">游戏</a>
                <span class="spn-new">|</span>
                <a href="#">米粉卡</a>
                <span class="spn-new">|</span>
                <a href="#">政企服务</a>
                <span class="spn-new">|</span>
                <a href="#">小米天猫店</a>
                <span class="spn-new">|</span>
                <a href="#">隐私政策</a>
                <span class="spn-new">|</span>
                <a href="#">问题反馈</a>
                <span class="spn-new">|</span>
                <a href="#">廉正举办</a>
                <span class="spspn-new">|</span>
                <a href="#">select region</a>
            </p>
            <br>
            <p class="below-2">
                <a href="#">mi.com</a>
                <a href="#">京ICP证110507号</a>
                <a href="#">京ICP备10046444号</a>
                <a href="#">京公网安备11010802020134号</a>
                <a href="#">京网文[2017]1530-131号 </a>
                <br>
                <a href="#">（京）网械平台备字（2018）第00005号</a>
                <a href="#">互联网药品信息服务资格证 (京) -非经营性-2014-0090</a>
                <a href="#">营业执照</a>
                <a href="#">医疗器械公告</a>
                <br>
                <a href="#">违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</a>
            </p>
            <div class="make-img">
                <img src="~/Content/images/truste.png" alt="">
                <img src="~/Content/images/ba10428a4f9495ac310fd0b5e0cf8370.png" alt="">
                <img src="~/Content/images/v-logo-1.png" alt="">
                <img src="~/Content/images/v-logo-2.png" alt="">
                <img src="~/Content/images/v-logo-3.png" alt="">

            </div>



        </div>
        <div class="xiaomi">探索黑科技，小米为发烧而生</div>
    </div>
</body>
</html>
